.awnav button {
  margin-bottom: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border: #999 1px solid;
  border-bottom: none;
  color: #333;
  background-color: #eee;
  font-size: 0.9em;
  text-transform: uppercase;
  cursor: pointer;
  overflow: visible;
  border-radius: 0px;
  border-radius-topright: 6px;
  border-radius-topleft: 6px;
  -moz-border-radius: 0px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
}
.awchart {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 404px;
  height: 250px;
}
.awtable {
  border-collapse: collapse;
  width: 404px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.awtable th {
  background-color: #ddd;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 4px;
}
.awtable td {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
  padding: 4px;
}
